*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.container{
    height: 15rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color:azure;
}
.copy-password{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color:azure;
}
#copyIcon:active{
    scale : -0.98;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}
.tooltip{
    display: none;
}
.show {
    display:inline-block;
    position: absolute;
    top:-25px;
    right:-8px;
    background-color: bisque;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 5px;
}
.show::after{
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.slider{
    appearance: none;
    height: 0.50rem;
    width: 100%;
    background-size: 50%;
    background-color: rgb(247, 243, 243);
    background-image: linear-gradient(bisque , bisque);
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    outline: none;
}
.slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color:bisque;
    cursor: pointer;
    box-shadow: 0 0 15px 0 bisque;
    transition: all 100ms ease-in-out;
}

.slider:focus{
    outline: solid 1px bisque;
    z-index: 1;
}
.slider::-webkit-slider-thumb:hover{
    scale: 1.10;
    transition: 0.3s ease-in-out;
}
input[type="checkbox"]{
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    border-radius: 2.5px;
}
input[type="checkbox"]:checked{
    background-color: bisque;
}
input[type="checkbox"]:checked::before{
    content: '🗸';
    color: black;
    position: absolute;
    top:-2.5px;
    font-weight: bold;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    height: 15rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color:azure;
}
.length{
    display: flex;
    justify-content: space-between;
}
.range{
    display: flex;
    justify-content: center;
}
.password-strength{
    display: flex;
    justify-content: space-between;
}
.indicator{
    height: 1rem;
    width: 1rem;
    /* background-color: dodgerblue; */
    border-radius: 50%;
}
.submit-btn{
    display: flex;
    justify-content: center;
}
button{
    background-color: bisque;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    cursor: pointer;
}
button:active{
    scale: -0.98;
    transition: 2s ease-in-out;
}
.fa-regular:hover{
    cursor: pointer;
}
.slider:hover{
    cursor: pointer;
}